@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400);

body {
    background-position: center;
    background-size: cover;
    background: #69D2E7;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 17px;
    padding: 0 0 10px; 
  }
body,h1 {
    font-size: 32px;
}



